Exercise/Ex13/data/
*.tar.gz
Homework/Hw13/data/
*.tar.gz
Exercise/Ex14/data/
Exercise/Ex14/flickr8k/
*.ipynb_checkpoints/
*.pyc
__pycache__/
.DS_Store
venv/
datasets/
models/
checkpoints/
runs/
ray_results/
*.tfevents*
*.pt
*.pth
*.params
*.predictions
*.h5
*.mp4
*.zip
*.png
*.jpg
*.jpeg
*.gif
wandb/
*.bin
