Exercise/Ex13/data/
*.tar.gz
Homework/Hw13/data/
*.tar.gz
Exercise/Ex14/data/
Exercise/Ex14/flickr8k/
*.ipynb_checkpoints/
*.pyc
__pycache__/
venv/
datasets/
models/
checkpoints/
*.pt
*.pth
*.h5
*.mp4
*.zip
*.png
*.jpg
*.jpeg
*.gif
wandb/
*.bin
*.pt